.Validating-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
}

.processing-animation {
    flex: 1; /* take remaining space after .inspection-steps and .next-button-container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center the file upload */
    align-items: center; /* horizontally center the file upload */
    padding-left: 1rem; /* spacing between this and the .inspection-steps */
}
