/* Parent container layout */
.compact-container {
    max-width: 600px; /* 원하는 너비 설정 */
    margin: 50px auto; /* 상하로 50px 마진을 주고 좌우는 자동으로 설정하여 중앙에 위치하게 함 */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 간단한 그림자 효과 */
    background-color: #fff; /* 배경색 */
    border-radius: 10px; /* 테두리 둥글게 */
}

.Check2-container {
    display: flex;
    flex-direction: column; /* stacked vertically */
    align-items: center;
    height: 100vh; /* take full viewport height */
}

/* Flex layout for InspectionSteps, File Upload and Next Button */
.FileUpload-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
}

/* Styling for the file upload section */
.file-upload-section {
    flex: 1; /* take remaining space after .inspection-steps and .next-button-container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center the file upload */
    align-items: center; /* horizontally center the file upload */
    padding-left: 1rem; /* spacing between this and the .inspection-steps */
}

.file-upload {
    width: 80%; /* or any other width you see fit */
}

/* Styling for the next button container */
.next-button-container {
    align-self: flex-end;
    margin-top: 1rem;
    padding: 0.5em 1em;
}
