.Service-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    flex-grow: 1;
    /* If you have a logo image, you can use it as a background here or replace the div content. */
}

.nav-links {
    flex-grow: 2; /* Allow the nav links section to grow larger than the other sections */
    display: flex;
    gap: 1rem; /* Space between the links */

}

.nav-links a {
    margin: 0 0.5rem; /* Some spacing around each link */
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set link color */
}

.user-actions {
    flex-grow: 1;
    display: flex;
    gap: 1rem; /* Space between the links */
    justify-content: flex-end; /* Align links to the right */
}

.user-actions a {
    margin: 0 0.5rem; /* Some spacing around each link */
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set link color */
}
.Service-content {
    padding-top: 60px; /* Adjust this value based on the actual height of your header */
    width: 100vw;
    overflow-y: auto;
    font-family: 'NotoSansKR-Regular' ;
}

.Service-content > section {
    width: 100vw;
    height: 100vh;  /* viewport height */
    display: flex;
    align-items: center;
    justify-content: center;  /* center the content within each section */
    /* Other styles like padding, margin, etc. as needed */
}

.Service-footer {
    background-color: #222;
    padding: 1rem;
    text-align: center;
}
.feature {
    margin: 20px 0;
}

.start-button-container {
    text-align: center;
    margin-top: 40px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none; /* Removes the underline from the anchor */
    transition: background-color 0.3s; /* For a smooth color transition on hover */
}

.start-button:hover {
    background-color: #1e90ff; /* A slightly brighter shade of the original royalblue */
}

.active-link {
    position: relative; /* Establish a stacking context for pseudo-elements */
}

.active-link:after {
    content: ''; /* This is necessary for the pseudo-element to be generated */
    position: absolute; /* Positioning context established by the relative position of .active-link */
    bottom: -15px; /* Place at the bottom of the link */
    left: 0; /* Start from the left of the link */
    width: 100%; /* Make it span the entire width of the link */
    height: 2px; /* Adjust the thickness as needed */
    background-color: royalblue; /* Color of the underline */
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Makes children stack vertically */
}

.section h2,
.section p {
    margin: 0;  /* Remove any default margins */
    text-align: center;  /* Center the text within the elements */
}
.section h2{
    font-family: 'NotoSansKR-SemiBold';
    margin-bottom: 40px;
    font-size: xx-large;
}
.section p {
    margin-bottom: 20px;  /* Add space between p and the following h2 */
}

.section-button-container {
    margin-top: 20px;  /* adjust as needed for spacing */
}

.is-visible {
    animation: fadeInSlide 1.5s forwards;
}
.introduction_service {
    animation: fadeIn 1.5s forwards;  /* apply the fadeIn animation */
    opacity: 0;  /* set initial opacity so the animation can fade it in */
}

.active{
    font-weight: bold;
}

