.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-header, .home-footer {
    background-color: rgba(51, 51, 51, 0.7); /* Making header transparent */
    color: white;
    padding: 1rem;
    text-align: center;
}

.home-header {
    background-color: transparent;
    color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;  /* Enable flexbox */
    justify-content: space-between;  /* Space out the children (logo, nav, user-actions) */
    align-items: center;  /* Center align items vertically */
    border-bottom: 1px solid rgb(221, 221, 221);
}

.logo {
    flex-grow: 1;
    /* If you have a logo image, you can use it as a background here or replace the div content. */
}

.nav-links {
    flex-grow: 2; /* Allow the nav links section to grow larger than the other sections */
    display: flex;
    gap: 1rem; /* Space between the links */
    justify-content: center; /* Center the links */
}

.nav-links a {
    margin: 0 0.5rem; /* Some spacing around each link */
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set link color */
}

.user-actions {
    flex-grow: 1;
    display: flex;
    gap: 1rem; /* Space between the links */
    justify-content: flex-end; /* Align links to the right */
}

.user-actions a {
    margin: 0 0.5rem; /* Some spacing around each link */
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set link color */
}
.home-content {
    width: 100vw;  /* viewport width */
    overflow-y: scroll;  /* allow vertical scrolling */
}
.home-content > section {
    width: 100vw;
    height: 100vh;  /* viewport height */
    display: flex;
    align-items: center;
    justify-content: center;  /* center the content within each section */
    /* Other styles like padding, margin, etc. as needed */
}

.home-footer {
    background-color: #222;
    padding: 1rem;
    text-align: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);  /* slight vertical move for "gliding" effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Makes children stack vertically */
}

.section h2,
.section p {
    margin: 0;  /* Remove any default margins */
    text-align: center;  /* Center the text within the elements */
}

.section p {
    margin-bottom: 20px;  /* Add space between p and the following h2 */
}
.is-visible {
    animation: fadeInSlide 1.5s forwards;
}
.introduction {
    animation: fadeIn 1.5s forwards;  /* apply the fadeIn animation */
    opacity: 0;  /* set initial opacity so the animation can fade it in */
}