.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-content {
    width: 100vw;  /* viewport width */
    overflow-y: scroll;  /* allow vertical scrolling */
}
.home-content > section {
    width: 100vw;
    height: 100vh;  /* viewport height */
    display: flex;
    align-items: center;
    justify-content: center;  /* center the content within each section */
    /* Other styles like padding, margin, etc. as needed */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);  /* slight vertical move for "gliding" effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Makes children stack vertically */
}

.section h2,
.section p {
    margin: 0;  /* Remove any default margins */
    text-align: center;  /* Center the text within the elements */
}

.section p {
    margin-bottom: 20px;  /* Add space between p and the following h2 */
}
.is-visible {
    animation: fadeInSlide 1.5s forwards;
}
.introduction {
    /* Starting from light blue and transitioning to white */
    background: linear-gradient(to bottom, aliceblue, white);
}
